.poster {
  display: inline-block;
  position: fixed;
  height: 500px;
  left: 20px;
  top: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 10px;
  object-fit: cover;
  z-index: 1;

}



// .fron-ground{
//  color:blac;

// }
.banner {
  // position: absolute;
  background-size: cover;
  background-position: left calc((50vw - 170px) - 340px) top;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0px;

}

@mixin font() {
  font-family: 'Twitter fonts', Courier, monospace;
}



@mixin size($index) {
margin-left:12px;
  @if $index==2 {
    left: 25%;
  }
  @if $index==3 {
    left: 25%;
  }

  @else {
    left: 25%;
  }
  @if $index==2 {
    left: 50%;
    font-size: 24px;
  }
  @if $index==1 {
    left: 50%;
    font-size: 32px;
    margin-bottom:0px;
  }

}
@mixin custom_text($index) {

  @for $i from 1 through 7 {
    @if $index==$i {
      @include font();
      @include size($index);
    }
    @if $index==1 {

    }
  }
}

.containter {

  position: fixed;
  width: 68%;
  height: 500px;
  background-color: #1A2238;
  left: 363px;
  top: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 0;
  @for $i from 1 through 7 {
    .textDesign_#{$i} {
      @include custom_text($i);
      background-size: cover;
      z-index: 2;
      color: rgb(255, 255, 255);
    }
  }
}