@import '../methodStyle.module.scss';
$bar: 10px;
.nav {
  @include navBarPorpotion();
  //https://www.pngitem.com/pimgs/m/592-5927013_search-button-vector-facebook-icon-png-search-transparent.png
  .search {
    @include searchPropotion(500px,40px,25px,25px,0px,0px);   
  }
  
  div {
    margin: 0px;
  }
  .firstButton{
    width: 50px;
    height: 40px;
    border-top-right-radius:10px ;
  }
}
.searchMovie {
  position: fixed;
  top:8%;
  left:27%;
  background-color: white;
  @include searchPropotion(500px,300px,25px,25px,25px,25px);

}
@media (max-width: 599px) {
  .nav {
    flex-direction: row;
    .search {
      @include searchPropotion(200px,40px,25px,25px,0px,0px);   
    }
    div {
      margin: 0px;
    }
  }
}
